@import '../../App.css';

main{
    margin: auto;
    font-family: var(--secondary-font-family);
    width: 1200px;
}

.galleryTitle{
    margin-top: 115px;
    color: var(--color-main);
    font-family: var(--main-font-family);
}

.hotelList{
    margin-top: 30px;
    margin-bottom: 115px;
}

