@import '../../App.css';

.footer {
  padding-top: 50px;
  min-height: 150px;
  background-color: var(--color-secondary);
  outline: 1px solid red;
}

.footerTitle {
  font-family: var(--main-font-family);
  font-size: 24px;
  font-weight: 400;
}

.footerText {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: 200;
}

.footerTitle,
.footerText {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  color: white;
}

.footerForm {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: center;
}

.footerEmailInput {
  padding-left: 12px;
  background-color: var(--color-gray);
  border-radius: 4px;
  width: 400px;
  height: 50px;
  font-size: 15px;
}

.footerSubscribeButton {
  margin-left: 30px;
  padding: 8px 15px;
  background-color: var(--color-light-blue);
  font-family: var(--main-font-family);
  color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.footerLinks {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-light-blue);
}

.footerLinks a {
  color: white;
  font-family: var(--secondary-font-family);
  text-decoration: underline;
  font-size: 15px;
  font-weight: 300;
}

.footerLinks a:hover{
  color:var(--color-secondary);
  font-weight: 500;
}
