* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --main-font-family: "Azeret Mono", monospace;
  --secondary-font-family: "Inter", sans-serif;
  --color-main: #003b95;
  --color-secondary: #03275f;
  --color-light-blue: #1367e7;
  --color-gray: #d9d9d9;
  --color-dark-gray: #797878;
  --color-modal: #8ababc;
  --color-message: #a9c69d;
}
