* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --main-font-family: 'Azeret Mono', monospace;
    --secondary-font-family: 'Inter', sans-serif;
    --color-main: #003B95;
    --color-secondary: #03275F;
    --color-light-blue: #1367E7;
    --color-gray: #D9D9D9;
    --color-dark-gray: #797878;
    --color-modal: #8ABABC;
    --color-message: #A9C69D;
}