@import '../../App.css';

header {
    background-color: var(--color-main);
    height: 80px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

h1 {
    color: white;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 29px;
}

.reservationButton{
    font-family: var(--secondary-font-family);
    font-size: 16px;
    font-weight: 500;
    padding: 14px 26px;
    background-color: var(--color-gray);
}

.reservationButton:hover{
    background-color: var(--color-dark-gray);
    color:white;
    cursor: pointer;
}